* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  list-style: none;
  cursor: pointer;
}
.parents{
    border: 1px solid #ffcc25;
    height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 19px;
    background-color: #ffcc25;
    padding: 13px 0px;
}
span{
  color: #b15c6b;
}
.parents_section_1{
  display: flex;
  justify-content: center;
  gap: 200px;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: none;
  height: 130px;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
}
.parents_sectionchid_3{
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
}
.k>input {
  width: 160px;
  height:40px ;
  text-align: center;
  font-size:19px;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border:2px solid rgba(0, 0, 0, 0.1);
   box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
}
.content-us{
  font-size: 22px;
}
.content-us:hover{
  color:#880e4f;
  transition: 0.5s;
        scale: 1.1;
        height: 40px;
}
.tooltip {
      position: relative;
      display: inline-block;
      cursor: pointer;
    }

    .tooltip .tooltiptext {
      visibility: hidden;
      width: 95px;
    background: linear-gradient(45deg,#4a148c,#880e4f);
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 6px;
      position: absolute;
      z-index: 1;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      transition: opacity 0.3s;
    }

    .tooltip:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
    }

    .tooltip_img {
      width: 50px;
      height: 50px;
    }
    .dropdown {
      position: relative;
      display: inline-block;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      background-color: white;
      font-size: 15px;
      font-weight:bold ;
      width: 180px;
      text-align: center;
      box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
      z-index: 1;
    }
    

    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      transition: background-color 0.3s;
    }

    /* Hover effect on item */
    .dropdown-content a:hover {
    background: linear-gradient(45deg,#4a148c,#880e4f);
        color:#fff;

    }

    .dropdown:hover .dropdown-content {
      display: block;
    }
  .button-1 {
    width: 110px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    background-color:#fff;
    border: transparent;
    color: #6c6c6c;
}
  .button-1:hover{
       background: linear-gradient(45deg,#4a148c,#880e4f);
       color: #fff;
}
.newwine:hover{
       color: #880e4f;
       height: 40px;
       scale: 1.2;
        transition: 0.5s;
}
.newwine{
    font-size: 15px;
    font-weight: bold;
     color: #6c6c6c;
}
.parents_wine_menu_list{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  border-bottom: none;
  border-top: none;
  height: 50px;
  gap: 16px;
   /* box-shadow: 0px 4px 8px rgba(0,0,0,0.2);*/
}


.slider{
  overflow: hidden;
}
.slider figure{
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}
.slider figure img{
  float: left;
  width: 20%;
}

@keyframes slider{
  0%{
    left: 0;
  }
  20%{
    left: 0;
  }
  25%{
    left: -100%;
  }
  45%{
    left: -100%;
  }
  50%{
    left: -200%;
  }
  70%{
    left: -200%;
  }
  75%{
    left: -300%;
  }
 95%{
  left: -300%;
 }
 100%{
  left: -400%;
 }
}



.winebutton-1{
  --color: #ffc107;;
  font-family: inherit;
  display: inline-block;
  background-color: #fff;
  width: 19em;
  height: 4.2em;
  line-height: 2.5em;
  margin: 11px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color 0.5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 5px;
  color: var(--color);
   border: 3px solid #a14484!important;
}
.S1{
font-size: 19px;
color: #3f3f3f;
 font-weight: 525;
}
.S2{
  font-size: 19px;
color: #3f3f3f;
 font-weight: 525;
}
.winebutton-1:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 400px;
  border-radius: 30%;
}

.winebutton-1:hover {
  color: #fff;
   border: 1px solid #a14484!important;
}

.winebutton-1:before {
  top: 100%;
  left: 100%;
  transition: all 0.7s;
}

.winebutton-1:hover:before {
  top: -30px;
  left: -30px;
}

.winebutton-1:active:before {
  background:yellow;
  transition: background 0s;

}
.wine_button_multipage , .wine_button_multipage-1,.wine_button_multipage-2{
 display: flex;
  justify-content: center !important;
  align-items: center !important;
  gap: 19px;
}
.parents_3{
  margin: 30px 0px ;
}

.parents_4{
  margin: 50px  0px;
}
  .line-text {
      display: flex;
      align-items: center;
      text-align: center;
      margin: auto;
      width: 60%;
      font-weight: 500;
      font-size: 28px;
      color: #2c2e2f;
    }
    .line-text:hover{
      color: #880e4f;
    }

    .line-text::before,
    .line-text::after {
      content: "";
      flex: 1;
      border-bottom: 3px solid #aaa;
    }

    .line-text:not(:empty)::before {
      margin-right: .5em;
    }

    .line-text:not(:empty)::after {
      margin-left: .5em;
    }


    .Spotlight_img{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      margin: 30px 0px;

    }
    .x{
      width: 235px;
      height: 230px;
      border:1px solid black;
      overflow: hidden;
     object-fit: fill;
    }
    .x .spimg_1{
      height: inherit;
      width: inherit;
      transition: 0.5s ease;
    }
    
    .x .spimg_1:hover{
      transform: scale(1.2);
    }

    .v{
      width: 230px;
      height: 230px;
      overflow: hidden;
      border:1px solid black;
       object-fit: fill;
    }
    .v .spimg_2{
      height: inherit;
      width: inherit;
      transition: 0.5s ease;
    }
    .v .spimg_2:hover{
      transform: scale(1.2);
    }
    .img_text,.img_text_1{
      text-align: center;
      font-size: 18px;
      font-weight: 200;
      padding: 19px 0px;
      color: #5e5d5d;
    }
    .img_text:hover{
      color: #880e4f;
    }
    .img_text_1:hover{
      color: #880e4f;
    }

 .browse_button {
  width: 100px;
  height: 40px;
  text-align: center;
  border: transparent;
  border-radius: 20px;
  transition: all 0.3s;
  background: #a54284;
  color: #fff;
  font-size: 17px;
  font-weight: 520;
  margin: 0px 70px;
}

.browse_button:hover {
  background:#ffcc25;
  color: white;
  font-size: 20px;
}
.Gift_text{
  text-align: center;
      font-size: 18px;
      font-weight: 200;
      padding: 19px 0px;
      color: #5e5d5d;
}
.Gift_text:hover{
  color: #880e4f;
}

.M{
      width: 240px;
      height: 220px;
      border:1px solid black;
      overflow: hidden;
     object-fit: fill;
    }
    .M .Giftimge_1{
      height: inherit;
      width: inherit;
      transition: 0.5s ease;
    }
    
    .M .Giftimge_1:hover{
      transform: scale(1.2);
    }

   .Gifting_wine_img{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 30px 0px;
      gap: 30px;
    }
    .parents_5{
      margin: 70px 0px;
    }
    .parents_4{
      margin: 60px 0px;
    }


  .parentschild_6_1{
    display: flex;
    justify-content: center;
    align-items: center;
  } 

    .Birthday_Gifts_1{
      width: 18%!important;
      border: 1px solid rgb(226, 225, 225);
      border-top: none;
      border-bottom: none;
       margin: 15px 0px;
    }
    .Birthday_Gifts_2{
      width: 18%!important;
      border: 1px solid rgb(226, 225, 225);
      border-top: none;
      border-bottom: none;
      border-left: none;
       margin: 15px 0px;
    }
    .Birthday_Gifts_3{
      width: 18%!important;
      border: 1px solid rgb(226, 225, 225);
      border-top: none;
      border-bottom: none;
      border-right: none;
       margin: 15px 0px;
    }

    .brithday_text{
      text-align: center;
      color: #353535;
      font-size: 18px;
      font-weight: 500;
      padding: 20px 0px;
    }
    .brithday_text-1{
      text-align: center;
      color: #353535;
      font-size: 18px;
      padding-bottom: 10px;
      font-weight: 500;
    }
     .brithday_text-1:hover{
      color: #880e4f;
     }
     .brithday_text:hover{
      color: #880e4f;
     }
    .Arrivals_button{
      width: 120px;
      height: 35px;
      font-weight: bold;
      background-color: #880e4f;
      color: #fff;
      border-radius: 15px;
      border: transparent;
      padding: 11px 0px;
       margin: 10px 50px;
    }
   .Arrivals_button:hover{
    background-color: #ffc107;
   } 
   .parentschild_6_1{
    margin: 30px 0px;
   }
    .brothdy_button{
      width: 120px;
      height: 35px;
      font-weight: bold;
      background-color: #880e4f;
      color: #fff;
      border-radius: 15px;
      border: transparent;
      padding: 11px 0px;
       margin: 0px 50px;
    }
   .brothdy_button:hover{
    background-color: #ffc107;
   } 
   .parentschild_6_1{
    margin: 30px 0px;
   }

.Z{
  
      width:210px;
      height:250px;
      overflow: hidden;
     object-fit: fill;
    }
    .Z .brithday_img-1{
      height: inherit;
      width: inherit;
      transition: 0.5s ease;
    }
    
    .Z .brithday_img-1:hover{
      transform: scale(1.1);
    }
    .parents_5{
      margin: 70px 0px;
    }

    .parents_7{
  margin: 50px 0px;
}

   .parents_main_7 {
  height: 260px;
  overflow: hidden;
  margin: 30px 20px;
  display: flex;
  align-items: center;
}

.Discover_wine {
  position: relative;
  width: 100%;
  height: inherit;
}

.Discover_wine_1 {
  position: absolute;
  height: inherit;
  animation: scroll-5 var(--duration, 10s) linear infinite;
  left: 100%;
  animation-delay: calc(var(--duration, 10s) / 5 * (5 - var(--k)) * -1);
}

@keyframes scroll-5 {
  to {
    left: -250px;
  }
}

.Discover_wine_1> img {
  height: inherit;
  width: 270px;
  border: 1px solid black;
  object-fit: cover;
}
.parents_main_7:hover .Discover_wine_1 {
  animation-play-state: paused;
}
  

 .Arrivals_text{
      text-align: center;
      color: #353535;
      font-size: 18px;
      font-weight: 500;
      padding: 20px 0px;
    }
    .Arrivals_text-1{
      text-align: center;
      color: #353535;
      font-size: 18px;
      padding-bottom: 10px;
      font-weight: 500;
    }
     .Arrivals_text-1:hover{
      color: #880e4f;
     }
     .Arrivals_text:hover{
      color: #880e4f;
     }

     .New_Arrivals-1{
      width: 18%!important;
      border: 1px solid rgb(226, 225, 225);
      border-top: none;
      border-bottom: none;
       margin: 40px 0px;
    }
    .New_Arrivals-2{
      width: 18%!important;
      border: 1px solid rgb(226, 225, 225);
      border-top: none;
      border-bottom: none;
      border-left: none;
       margin: 40px 0px;
    }
     
     .New_Arrivals-3{
      width: 18%!important;
      border: 1px solid rgb(226, 225, 225);
      border-top: none;
      border-bottom: none;
      border-left: none;
      border-right: none;
       margin: 40px 0px;
    }

    .A{
  
      width:200px;
      height:250px;
      overflow: hidden;
     object-fit: fill;
    }
    .A .New_Arrivals_img{
      height: inherit;
      width: inherit;
      transition: 0.5s ease;
    }
    
    .A .New_Arrivals_img:hover{
      transform: scale(1.1);
    }
    .New-Arrivals{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .parents_8{
      margin: 70px 0px;
    }


    .Beer-Mead_1_text{
      text-align: center;
      color: #353535;
      font-size: 18px;
      font-weight: 500;
      padding: 20px 0px;
    }
    .Beer-Mead_1_text-1{
      text-align: center;
      color: #353535;
      font-size: 18px;
      padding-bottom: 10px;
      font-weight: 500;
    }
     .Beer-Mead_1_text-1:hover{
      color: #880e4f;
     }
     .Beer-Mead_1_text:hover{
      color: #880e4f;
     }
    
    .S{
      width:200px;
      height:250px;
      overflow: hidden;
     object-fit: fill;
    }
    .S .Beer-Mead_1_img{
      height: inherit;
      width: inherit;
      transition: 0.5s ease;
    }
    
     .S .Beer-Mead_1_img:hover{
      transform: scale(1.1);
    }

    .Beer-Mead_1{
      width: 18%!important;
      border: 1px solid rgb(226, 225, 225);
      border-top: none;
      border-bottom: none;
       margin: 30px 0px;
    }
    .Beer-Mead_2{
      width: 18%!important;
      border: 1px solid rgb(226, 225, 225);
      border-top: none;
      border-bottom: none;
      border-left: none;
       margin: 30px 0px;
    }
    .Beer-Mead_3{
      width: 18%!important;
      border: 1px solid rgb(226, 225, 225);
      border-top: none;
      border-bottom: none;
      border-right: none;
       margin: 30px 0px;
    }
   
    .Beer-Mead{
      display: flex;
      justify-content: center;
      align-items: center;
    }

.parents_10{
  margin: 50px 0px;
}
  .Featured_Brand {
  height: 220px;
  overflow: hidden;
  margin: 30px 20px;
  display: flex;
  align-items: center;
}

.Featured_Brand_1 {
  position: relative;
  width: 100%;
  height: inherit;
}

.Featured_Brand_2{
  position: absolute;
  height: inherit;
  animation: scroll-6 var(--duration, 10s) linear infinite;
  right: 100%;
  animation-delay: calc(var(--duration, 10s) / 5 * (5 - var(--k)) * -1);
}

@keyframes scroll-6{
  to {
    right: -250px;
  }
}

.Featured_Brand_2> img {
  height: inherit;
  width: 250px;
  border: 1px solid black;
}
.Featured_Brand_1:hover .Featured_Brand_2 {
  animation-play-state: paused;
}
  
  .Mixed_Case_Collection_1{
      width: 18%!important;
      border: 1px solid rgb(227, 224, 224);
      border-top: none;
      border-bottom: none;
       margin: 20px 0px;
    }
    .Mixed_Case_Collection_2{
      width: 18%!important;
      border: 1px solid rgb(227, 224, 224);
      border-top: none;
      border-bottom: none;
      border-left: none;
       margin: 20px 0px;
    }
    .Mixed_Case_Collection_3{
      width: 18%!important;
      border: 1px solid rgb(227, 224, 224);
      border-top: none;
      border-bottom: none;
       margin: 20px 0px;
       border-right: none;
    }
    


    .Mixed_Case_Collection_text{
      text-align: center;
      color: #353535;
      font-size: 18px;
      font-weight: 500;
      padding: 5px 0px;
    }
    .Mixed_Case_Collection_text_1{
      text-align: center;
      color: #353535;
      font-size: 18px;
      padding: 10px 0px;
      font-weight: 500;
    }
     .Mixed_Case_Collection_text_1:hover{
      color: #880e4f;
     }
    .Mixed_Case_Collection_text:hover{
      color: #880e4f;
     }
     .Mixed_Case_Collection_button{
      width: 120px;
      height: 35px;
      font-weight: bold;
      background-color: #880e4f;
      color: #fff;
      border-radius: 15px;
      border: transparent;
       margin: 0px 50px;
    }
   .Mixed_Case_Collection_button:hover{
    background-color: #ffc107;
   } 

    .u{
  
      width:200px;
      height:240px;
      overflow: hidden;
     object-fit: fill;
    }
    .u .Mixed_Case_Collection_img{
      height: inherit;
      width: inherit;
      transition: 0.5s ease;
    }
    
     .u .Mixed_Case_Collection_img:hover{
      transform: scale(1.1);
    }

    .Mixed_Case_Collection{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .parent_11{
      margin: 70px 0px;
    }


  .Wine_Accessories {
  height: 220px;
  overflow: hidden;
  margin: 40px 20px;
  display: flex;
  align-items: center;
}
.Wine_Accessories_1 {
  position: relative;
  width: 100%;
  height: inherit;
}

.Wine_Accessories_2{
  position: absolute;
  height: inherit;
  animation: scroll-7 var(--duration, 10s) linear infinite;
  left: 100%;
  animation-delay: calc(var(--duration, 10s) / 6 * (5 - var(--k)) * -1);
}

@keyframes scroll-7{
  to {
    left: -250px;
  }
}

.Wine_Accessories_2> img {
  height: inherit;
  width: 250px;
  border: 1px solid #880e4f;
  border-top: none;
  border-bottom: none;
}
.Wine_Accessories_1:hover .Wine_Accessories_2 {
  animation-play-state: paused;
}

  .Blog_1{
    border: transparent;
    width:255px;

  }
  .W{
      width: 254px;
      height: 210px;
      border:1px solid black;
      overflow: hidden;
     object-fit: fill;
  }

    .W .Blog_img{
      height: inherit;
      width: inherit;
      transition: 0.5s ease;
    }
    
     .W .Blog_img:hover{
      transform: scale(1.1);
    }
  .blog_text{
    color: #373738;
    font-size:15px;
    text-align: center;
    padding: 5px 0px;
  }
  .blog_text_1{
    text-align: center;
    font-weight: bold;
    font-size: 17px;
    padding: 15px 0px;
    color: #303030;
  }
  .blog_text_1:hover{
    color: #880e4f;
  }
  .Blog{
    display: flex;
   margin: 20px 0px;
    justify-content: center;
    gap: 25px;
  }

  .parents_13{
    margin: 60px 0px;
  }
  .insta_img{
    height: 50px;
    width: 50px;
  }

  .tooltipexm_4{
      position: relative;
      display: inline-block;
      cursor: pointer;
    }

    .tooltipexm_4 .tooltipexam_text-4 {
      visibility: hidden;
      width: 80px;
    background: linear-gradient(45deg,#4a148c,#880e4f);
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 6px;
      position: absolute;
      z-index: 1;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      transition: opacity 0.3s;
    }

    .tooltipexm_4:hover .tooltipexam_text-4 {
      visibility: visible;
      opacity: 1;
    }
     .tooltipexm_3{
      position: relative;
      display: inline-block;
      cursor: pointer;
    }

    .tooltipexm_3 .tooltipexam_text-3 {
      visibility: hidden;
      width: 80px;
    background: linear-gradient(45deg,#4a148c,#880e4f);
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 6px;
      position: absolute;
      z-index: 1;
      bottom: 115%;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0;
      transition: opacity 0.3s;
    }

    .tooltipexm_3:hover .tooltipexam_text-3 {
      visibility: visible;
      opacity: 1;
    }
    .facebook_img{
       width: 40px;
       height: 40px;
    }
    .X_img{
      width: 40px;
      height: 25px;
    }
    .linkedin_img{
      width: 35px;
       height: 35px;
    }
    .insta_img{
      width: 30px;
      height: 30px;
    }
    .parents_14{
      background-color:#ffcc25;
      height: 130px;
      text-align: center;
      padding: 20px 0px;
    }
    .parents_14_imge{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      height: 40px;
      padding: 30px 0px;
    }
    .Follow_us{
        font-size: 23px;
        color: #201b00;
        font-weight:500;
    } 
    .parents_15{
      display: flex;
      justify-content: space-evenly;
      padding: 60px 0px;
      gap: 60px;
      background-color: #dbdbdb;

    }
    .footer_text{
       font-weight:550;
       font-size: large;
         color: #414141;
         padding-bottom: 15px;
     }
        .footer_text:hover{
      color: #880e4f;
     }
   li{
    padding: 3px 0px;
    color: #515151;
   }
    li:hover{
      color: #880e4f;
     }
     .footer_text_2{
       font-weight:550;
       padding-bottom: 19px;
       font-size: large;
       color: #414141;
     }
     .footer_text_2:hover{
        color: #880e4f;
      }
      .parents16_img{
        width: 190px;
        height: 19px;
      }
    .parents_16_pow{
      display: flex;
    }
    .parents-16{
      display: flex;
      justify-content: space-around;
      align-items: center;
      gap: 300px;
      height: 60px;

    }
    .power-1{
      font-weight: bold;
      color: black;
    }
    .parents-16_text,.Powered_text{
      font-size: 15px;
       color: #202020;
    }
    


    @media (min-width: 481px) and (max-width: 840px)
    {
       .wine_parkimg{
        width: 200px;
        
       }

    .parents_section_1 {
    gap: 40px;
   

     }
      
     .newwine {
    font-size: 12px;
    font-weight: bold;
    color: #6c6c6c;
}

.button-1 {
    font-size: 12px;
    width: 50px;
}
.winebutton-1 {
    width: 12em;
}

.S2{
  font-size: 14px;
   font-weight: 500;
}

 .x{
      width: 200px;
      height: 160px;
      border:1px solid black;
      overflow: hidden;
     object-fit: fill;
    }
    .x .spimg_1{
      height: inherit;
      width: inherit;
      transition: 0.5s ease;
    }
    
    .x .spimg_1:hover{
      transform: scale(1.2);
    }

 .v,.img_text_1{
  display: none;
     
    }
    .Spotlight_img {
    gap: 25px;
    margin: 30px 0px;
}

.Gifting_wine_img {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items:center;
    align-content: center;
    margin: auto;
    width: 90%;
    padding: 30px 0px;
    gap: 30px;
}
.Gift_text {
    font-size: 20px;
    padding: 15px 0px;
    color: #5e5d5d;
   
}

.browse_button {
  margin: 0px 65px;
}

.browse_button:hover {
  font-size: 20px;
}

.parentschild_6_1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items:center;
    align-content: center;
    margin: auto;
    width: 80%;
  }

   
    .Birthday_Gifts_3,.New_Arrivals-3,.Beer-Mead_3,.Mixed_Case_Collection_3{
      display: none;
    }
    
    .Birthday_Gifts_2{
         width: 100% !important;
         border-left: 2px solid rgb(234, 232, 232);
    }
    .Birthday_Gifts_1{
        width: 100% !important;
    }
    .brothdy_button {
    margin: 0px 91px;
}

.Z{
  
      width:320px;
      height:330px;
      overflow: hidden;
     object-fit: fill;
    }

     .New-Arrivals{
      display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items:center;
    align-content: center;
    margin: auto;
    width: 80%;
    }
    .New_Arrivals-2{
          width: 100% !important;
           border-left: 2px solid rgb(234, 232, 232);
    }
    .New_Arrivals-1{
      width: 100% !important;
    }
    .Arrivals_button {
    margin: 10px 93px;
   }

    .A{
  
      width:300px;
      height:320px;
      overflow: hidden;
     object-fit: fill;
    }

    .Beer-Mead{
       display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items:center;
    align-content: center;
    margin: auto;
    width: 80%;
    }
    .Beer-Mead_2{
      width: 100% !important;
       border-left: 2px solid rgb(234, 232, 232);
    }
    .Beer-Mead_1{
      width: 100% !important;
    }

     .S{
      width:320px;
      height:330px;
      overflow: hidden;
     object-fit: fill;
    }
.Mixed_Case_Collection{
       display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items:center;
    align-content: center;
    margin: auto;
    width: 80%;
    }

    .Mixed_Case_Collection_2{
      width: 100% !important;
    }
    .Mixed_Case_Collection_1{
      width: 100% !important;
    }
    .Mixed_Case_Collection_button {
   
    margin: 0px 98px;
   }

    .u{
  
      width:320px;
      height:340px;
      overflow: hidden;
     object-fit: fill;
    }
   
    .Blog {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items:center;
    align-content: center;
    margin: auto;
    width: 80%;
    gap: 20px;
    padding: 30px 0px;
}
.footer-1>ul>li,.footer_text{
  display: none;
}
.parents_15 {
    display: flex;
    justify-content:center;
    padding: 30px 0px;
    gap: 0px;
    background-color: #dbdbdb;
    height: 80px;
}
.footer-1{
  display: flex;
  gap: 5px;
}


    .parents_7{
  margin: 30px 0px;
}

   .parents_main_7 {
  height: 150px;
  margin: 20px 20px;
}



.Discover_wine_1> img {
  width: 185px;
}

.parents_10{
  margin: 30px 0px;
}
  .Featured_Brand {
  height: 150px;
  margin: 20px 20px;
}



.Featured_Brand_2> img {
  width: 185px;

}



.Wine_Accessories {
  height: 150px;
  margin: 20px 20px;
}


.Wine_Accessories_2> img {
   width: 185px;
}
.Wine_Accessories_1:hover .Wine_Accessories_2 {
  animation-play-state: paused;
}
 }





 @media (max-width: 420px)
 {

  .img_text, .img_text_1{
    font-size: 15px;
}
.line-text{
  font-size: 20px;
}
.Gift_text{
  font-size: 15px !important;
}
.brithday_text, .brithday_text-1,
.Arrivals_text,.Arrivals_text-1,
.Mead_1_text,.Mixed_Case_Collection_text,.Mixed_Case_Collection_text_1,.Beer-Mead_1_text,.Beer-Mead_1_text  {
  font-size: 14px;
}
.brothdy_button,.Arrivals_button,.Mixed_Case_Collection_button{
  font-size: 12px;
}
.img_text, .img_text_1 {
    text-align: center;
    font-size: 14px;
    font-weight: 200;
    padding: 19px 0px;
    color: #5e5d5d;
}
  .k> input {
     display: none;
  }
  .wine_parkimg{
    width: 150px;
  }
    .wine_button_multipage , .wine_button_multipage-1,.wine_button_multipage-2{
 display: flex;
  justify-content: center !important;
  align-items: center !important;
  gap: 0px;
}
 .S1,.S2{
  font-size: 13px;
 }
  .parents_section_1 {
    display: flex;
    justify-items: start;
    padding: 0px !important;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    align-content: start;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: none;
    height: 75px;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
}
.parents_wine_menu_list{
   display: none;
}

.winebutton-1 {
    width: 105px;
    height: 3em;
}

.parents{
    font-size: 15px;
}

.tooltip_img {
    width: 40px;
    height: 39px;
}
.parents_sectionchid_3 {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
.content-us {
    font-size: 18px;
}

.Spotlight_img {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: start;
    align-content: start;
    gap: 10px;
    margin:auto;
    padding-top: 20px;
    width: 80%;
}

 .x{
      width: 150px;
      height: 160px;
    }
    
     .v{
      width: 150px;
      height:160px;
    }

.Gifting_wine_img {
     display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    align-content: center;
    gap: 10px;
    margin:auto;
    padding-top: 20px;
    width:80%;
}

.M{
      width: 150px;
      height: 160px;
      border:1px solid black;
      overflow: hidden;
     object-fit: fill;
    }
    .browse_button {
    margin: 0px 20px;
}

.Gift_text {
    font-size: 18px;
    padding: 10px 0px;
}

.parentschild_6_1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items:center;
    align-content: center;
    margin: auto;
    width: 80%;
  }

   
    .Birthday_Gifts_3,.New_Arrivals-3,.Beer-Mead_3,.Mixed_Case_Collection_3{
      display: none;
    }
    
    .Birthday_Gifts_2{
         width: 100% !important;
         border-left: 2px solid rgb(234, 232, 232);
    }
    .Birthday_Gifts_1{
        width: 100% !important;
    }
    .Z{
      
      width: 150px;
      height: 190px;
    }
     
    .brothdy_button{
      margin: 0px 20px;
    }

  .New-Arrivals{
      display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items:center;
    align-content: center;
    margin: auto;
    width: 80%;
    }
    .New_Arrivals-2{
          width: 100% !important;
           border-left: 2px solid rgb(234, 232, 232);
    }
    .New_Arrivals-1{
      width: 100% !important;
    }
    .Arrivals_button {
    margin: 10px 30px;
   }

    .A{
  
      width:170px;
      height:200px;
      overflow: hidden;
     object-fit: fill;
    }

.Beer-Mead{
       display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items:center;
    align-content: center;
    margin: auto;
    width: 80%;
    }
    .Beer-Mead_2{
      width: 100% !important;
       border-left: 2px solid rgb(234, 232, 232);
    }
    .Beer-Mead_1{
      width: 100% !important;
    }

     .S{
      width:170px;
      height:200px;
      overflow: hidden;
     object-fit: fill;
    }


.Mixed_Case_Collection{
       display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items:center;
    align-content: center;
    margin: auto;
    width: 80%;
    }

    .Mixed_Case_Collection_2{
      width: 100% !important;
    }
    .Mixed_Case_Collection_1{
      width: 100% !important;
    }
    .Mixed_Case_Collection_button {
   
    margin: 0px 25px;
   }

    .u{
  
      width:170px;
      height:200px;
    }

    .Blog {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items:start;
    align-content: start;
    margin: auto;
    width: 80%;
    gap: 15px;
    padding: 30px 0px;
}

 .W{
      width: 160px;
      height: 150px;
  }

.blog_text{
  font-size: 8px;
}
.blog_text_1{
  font-size: 12px;
}
.Blog_1 {
    border: transparent;
     width: 150px;
}


.footer-1>ul>li,.footer_text{
  display: none;
}
.parents_15 {
    display: flex;
    justify-content:center;
    padding: 5px 0px;
    gap: 0px;
    background-color: #dbdbdb;
    height: 20px !important;
}
.footer_text_2{
  font-size: 8px;
}
.footer-1{
  display: flex;
  gap: 5px;
}

.parents-16 {
    display: grid;
    justify-items: center;
    align-content: center;
     gap: 5px;
    height: 60px;
}

   .parents_7{
  margin: 30px 0px;
}

   .parents_main_7 {
  height: 100px;
  margin: 20px 20px;
}

.Discover_wine_1> img {
  width: 100px;
}

.parents_10{
  margin: 30px 0px;
}
  .Featured_Brand {
  height: 100px;
  margin: 20px 20px;
}



.Featured_Brand_2> img {
  width: 100px;

}

.Wine_Accessories {
  height: 120px;
  margin: 20px 20px;
}


.Wine_Accessories_2> img {
   width: 120px;
}

.parents16_img {
        width: 140px;
        height: 19px;
}


.tooltip{
  display: none !important;
}
.parents_14{
  height: 113px;
}

 }

 @media (min-width: 1366px){

  .brothdy_button,.Arrivals_button,.Mixed_Case_Collection_button   {
           margin: 0px 68px;
}

.Wine_Accessories {
  height: 240px;
  margin: 20px 20px;
}


.Wine_Accessories_2> img {
    width: 290px;
}
 .A,.S,.Z,.u{
  
      width:250px;
      height:300px;
      overflow: hidden;
     object-fit: fill;
    }
    
 }

 


 


